DATABASE_HOST: "localhost"
DATABASE_USERNAME: "root"
DATABASE_PASSWORD: "root"
DATABASE_NAME: "xuka_bot_development"
BOT_ACCOUNT_TOKEN: "3a3c3552f1f3ca26babe5e8554354afa"
DESTINATION_ROOM_ID: "240144641"
