DATABASE_HOST: "mysql"
DATABASE_USERNAME: "root"
DATABASE_PASSWORD: "root"
DATABASE_NAME: "xuka_bot_development"
BOT_ACCOUNT_TOKEN: "3a3c3552f1f3ca26babe5e8554354afa"
DESTINATION_ROOM_ID: "240144641"

# Workers and threads of Puma
WEB_CONCURRENCY: "3"
RAILS_MIN_THREADS: "1"
RAILS_MAX_THREADS: "16"
