DATABASE_HOST: "mysql"
DATABASE_USERNAME: "root"
DATABASE_PASSWORD: "root"
DATABASE_NAME: "xuka_bot_development"

# Workers and threads of Puma
WEB_CONCURRENCY: "3"
RAILS_MIN_THREADS: "1"
RAILS_MAX_THREADS: "16"

# Other setting
DISPLAY_TOOL_FOR_DEV: "false"

# redis config
REDIS_SERVER_URL: "redis://redis:6379/0"
