<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxl-android icon'></i>
    <div class="logo_name"><%= @current_bot.bot_name %></div>
    <i class='bx bx-menu' id="btn" ></i>
  </div>
  <ul class="nav-list">
    <li>
      <a href="#">
        <i class="fas fa-home menu-icon"></i>
        <span class="links_name">Home</span>
      </a>
      <span class="tooltip">Home</span>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-question menu-icon"></i>
        <span class="links_name">Question</span>
      </a>
      <span class="tooltip">Question</span>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-star menu-icon"></i>
        <span class="links_name">ScoreBoard</span>
      </a>
      <span class="tooltip">ScoreBoard</span>
    </li>
    <li>
      <a href="#">
        <i class="fab fa-discord menu-icon"></i>
        <span class="links_name">Bot setting</span>
      </a>
      <span class="tooltip">Bot setting</span>
    </li>
    <%= link_to destroy_admin_session_path do %>
      <li class="profile">
        <div class="user-name">
          <%= current_admin.user_name %>
        </div>
        <i class="fas fa-power-off" id="log_out" ></i>
      </li>
    <% end %>
  </ul>
</div>
